*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
header{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(Background.jpg);
    
    border: 0px solid;
    width: 100%;
    
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 3px 10%;
  top: 0px;
  
  

}  
.logo{
    cursor: pointer;
    width: 4cm;
    margin-left: -30px;
    
    
}
.nav-links{
    list-style: none;

}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
    
nav{
    width: 85%;
    padding: 35px 0;
    display: flex;
    align-items: end;
    justify-content: space-between;

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
nav ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;

}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: flex;
    margin-right: 10px;
}
.text{
    margin-top: 250px;
    text-align: center;
    font-family: sans-serif;
    color: white;
}
.image-row{
    height: 300px;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    
    
    
}
.wapper{
    display: flex;
    justify-content: space-between;
    width: 65vmax;
    height: 30vmax;
    border: 1px solid black;
}
.box{
    flex: 0 0 40%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 25px;
    border-style: groove;
    

    
    
}
.box1{
    flex: 0 10% 60%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 25px;
    border-style: groove;
}
    
